@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Mukta:200,300,regular,500,600,700,800);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

:root {
  --fontcolor: #110229;
  --colorcloud: #1daeff;
}

html {
  font-size: 62.5%;
  padding: 0 9%;
  max-width: 1440px;
  margin: 0 auto;
  color: var(--fontcolor);
  font-family: "Nunito", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin: 1rem 0;
}

header .menu {
  display: none;
  font-size: 2.5rem;
}

header nav {
  text-transform: uppercase;
}

header nav a {
  margin: 0 2rem;
  color: var(--fontcolor);
}

header nav a:hover {
  color: var(--colorcloud);
}

header nav .login {
  border: var(--colorcloud) 1px solid;
  color: var(--colorcloud);
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  margin-right: 0;
}

header nav .login:hover {
  background-color: var(--colorcloud);
  color: #fff;
}

.home {
  background: url("../img/home2.png");
  color: var(--fontcolor);
  padding: 10%;
  margin: 0 -4rem;
  border-radius: 5rem;
}

.home h1 {
  font-size: 6rem;
  width: 50%;
}

.home h3 {
  font-size: 3rem;
  width: 60%;
}

.home .search {
  margin-top: 2rem;
  font-size: 2rem;
}

.home .search a {
  background-color: var(--colorcloud);
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  color: #fff;
}

.contries {
  margin-top: 5rem;
}

.contries .heading {
  margin: 3rem auto;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.contries .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contries .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  position: relative;
}

.contries .box h3 {
  position: absolute;
  top: 5rem;
  right: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  color: black;
  -webkit-box-shadow: 0.1 0.1 5rem #f7f7f7;
          box-shadow: 0.1 0.1 5rem #f7f7f7;
}

.contries .box img {
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 40rem;
  opacity: 0.5;
}

.contries .box img:hover {
  opacity: 1;
}

.recently {
  margin: 5rem 0;
}

.recently .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recently .heading h1 {
  font-size: 3rem;
}

.recently .heading a {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--colorcloud);
}

.recently .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.recently .box-container .box {
  border: #757575 0.1rem solid;
  border-radius: 2rem;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.recently .box-container .box .box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recently .box-container .box .box-content .box__img {
  margin: 0.2rem;
}

.recently .box-container .box .box-content .box__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.recently .box-container .box .box-content h1 {
  font-size: 2rem;
}

.recently .box-container .box .box-content .box-conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
}

.recently .box-container .box .box-content h3 span {
  color: #eee;
  background-color: #757575;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
  margin-left: 0.5rem;
}

.contact {
  background: #bbd1dd;
  background: url("../img/contact1.jpg");
  border-radius: 3rem;
  padding: 3rem;
  border: #3fb43b solid 0.1rem;
}

.contact h1 {
  font-size: 3rem;
  font-weight: 700;
}

.contact h3 {
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: 500;
  width: 40%;
}

.contact a {
  padding: 0.5rem 2rem;
  color: #ffffff;
  background-color: var(--colorcloud);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
}

footer {
  margin-top: 5rem;
}

footer .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

footer .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

footer .box-container .social p {
  margin-top: 1rem;
}

footer .box-container .social .social-links {
  margin-top: 1rem;
}

footer .box-container .tour p {
  margin-top: 1rem;
}

footer .box-container .our p {
  margin-top: 1rem;
}

footer .box-container .subscribe p {
  margin-top: 1rem;
}

footer .box-container .subscribe .inputbox {
  margin-top: 1rem;
  position: relative;
}

footer .box-container .subscribe .inputbox input {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: #eee solid 0.2rem;
  outline: none;
}

footer .box-container .subscribe .inputbox a {
  position: absolute;
  right: 2rem;
  color: #fff;
  background-color: var(--colorcloud);
  padding: 0.6rem;
  border-radius: 45%;
  top: 0.5rem;
}

/*************************
*
*
*
*
*
*
*
*
*
*
*
*********************************/
@media (max-width: 980px) {
  html {
    padding: 0 2rem;
  }
  .home {
    margin: 0 0;
  }
}

@media (max-width: 780px) {
  header .menu {
    display: initial;
  }
  header nav {
    display: none;
  }
  header nav.active {
    display: initial;
    position: absolute;
    top: 7rem;
    left: 0rem;
    right: 0rem;
    padding: 2rem;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav.active a {
    margin-bottom: 2rem;
    background-color: #eee;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 3rem;
    line-height: 5rem;
  }
  header nav.active .login {
    width: auto;
    margin: 0 2rem;
  }
  .home h1 {
    width: 100%;
  }
  .home h3 {
    width: 100%;
  }
  .contact h3 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
  .recently {
    font-size: 2rem;
  }
  footer .box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */